<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Laptop Store{% endblock %}</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'laptops/css/home.css' %}"> -->

    {% block extra_css %}
    {% endblock %}
    
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'laptop_list' %}">Laptops</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>

    <!-- Main content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 CONNECT</p>
    </footer>
</body>
</html>
